body{
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 100;
    color: #000000;
    background-color: #ffffff;
    /*background-image: url("../Project1/images/bg3.jpg") ;*/
 }
 .bg-image{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    display: block;
    background-image: url(../Project1/images/bg5.JPG);
    width: 100%;
    height: 100%;
    -webkit-filter: blur(9px);
    -moz-filter: blur(9px);
    -o-filter: blur(9px);
    -ms-filter: blur(9px);
    filter: blur(9px);
    background-repeat: no-repeat;
 }
 .bg-image2{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    display: block;
    background-image: url(../Project1/images/bg4.JPG);
    width: 100%;
    height: 100%;
    -webkit-filter: blur(9px);
    -moz-filter: blur(9px);
    -o-filter: blur(9px);
    -ms-filter: blur(9px);
    filter: blur(9px);
    background-repeat: no-repeat;
 }
 .main-container{
     display: flex;
     justify-content: center;
     width: 100%;
     text-align: center;
     font-style: inherit;
     z-index: 2;
 }
 
 
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
 .main-sub-container{
    display: block;
    position: relative;
    margin: 20px 200px;
    justify-content: center;
    text-align: center;
   }
 
 
 .heading-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
 
 }
 .heading-container2{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 
 }
 .card-main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 
 }
 .card-main-container2{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 
 }
 .card-item-container {
    min-height: 355px;
    min-width: 229px;
    border: 1px solid #e74c3c;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 10px #00000029;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    
 }
 input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    /*margin: 3px 3px 3px 4px;*/
    padding: initial;
    border: initial;
 }
 .card-heading {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.7em;
    color: #e74c3c;
    margin-bottom: 0px;
    position: relative;
 }
 .card-item {
    font-size: 0.6em;
    font-weight: 400;
    margin-bottom: 2px;
    color: #34343b;
 }
 label{
    color:black;
    font-size: 0.6em;
    display: contents;
    vertical-align: middle;
 }
 li {
    list-style-type: none;
    margin: 0 74px 0px 0px;
    padding: 0;
    }
 .heading-after {
       content: "";
       background-color: #565656a1;
       width: 72%;
       margin-left: 63px;
   }
 .add-list-button{
    color: #565656a1;
    cursor: pointer;
 }
 .heading-bold {
    font-size: 1.5em;
    font-weight: bold;
 }
 .heading-thin {
       font-size: 1em;
       font-weight: lighter;
       color: #565656a1;
   
 }
 .Strike-through-item {
    color: #ff0000;
    text-decoration:line-through 2px;
 }
 .fa{
    color: #e47b19;
    cursor: pointer;
    background-color: white;
    font-weight:100;
  }
  .add-list-button2 {
    position: absolute;
    bottom: -10px;
    right: 233px;
 }
 a{
     text-align: center;
     text-decoration: none;
     font-size: 16px;
     color:rgb(51, 54, 58)
     
 }
 .flex-column{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .popup-box {
    position: fixed;
    top: 30%;
    left: 35%;
    width: 445px;
    height: 226px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 10px #00000029;
    border: 1px solid #e74c3c;
    border-radius: 10px;
    opacity: 1;
    visibility: visib;
    transition: 1s linear;
 }
 .popup-box-text {
    font-size: 23px;
    font-weight: 400;
    color: #ff0000;
    margin: 10px;
 }
 input{
    width: 320px;
    height: 43px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #00000029;
    border: 1px solid #e74c3c;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
 }
 button {
    width: 101px;
    height: 43px;
    background: #e74c3c;
    border-radius: 20px;
    opacity: 1;
    border: none;
    font-size: 0.8em;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    cursor: pointer;
 }